.top{
    width: 100%;
    height: 28px;
    background-color: white;
    padding: 20px 0px;
}

.top span{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #00EFBE;
}

.left{
    float: left;
    margin-left: 20px;
}

.right{
    float: right;
    margin-right: 20px;
}

.right:hover{
    cursor: pointer;
    transform: translateY(2px);
}

.introduction{
    width: 100%;
    height: 400px;
    background-color: white;
    display: flex;
}

.introduction .maintext{
    width: 60%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
}

.introduction .text{
    width: 40%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
}

.introduction .maintext span{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: auto;
    color: #00EFBE;
}

.introduction .maintext span br{
    content: "";
    display: block;
    font-size: 24%;
}

.spacer{
    width: 100%;
    height: 200px;
}

.content{
    display: grid;
    grid-template-rows: 600px 600px 600px 600px;
}

.aboutme{
    width: 100%;
    height: 600px;
    background-color: #00EFBE;
    display: flex;
    transform: skewY(-10deg);
    overflow: hidden;
}

.aboutme .maintext{
    width: 50%;
    height: 100%;
    background-color: #00EFBE;
    display: flex;
    align-items: center;
}

.aboutme .maintext .circle{
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    margin: auto;
    border-radius: 100%;
    transform: skewY(10deg);
    z-index: 1;
}

.aboutme .text{
    width: 50%;
    height: 100%;
    background-color: #00EFBE;
    display: flex;
    align-items: center;
}

.aboutme .text .textdiv{
    width: 80%;
    background-color: #00EFBE;
    margin: auto;
    border-left: 5px solid white;
    border-radius: 10px;
    padding-left: 10px;
    z-index: 2;
}

.aboutme .text .textdiv p{
    margin: auto;
    font-size: 20px;
    transform: skewY(10deg);
    color: white;
    text-align: center;
}

.projects{
    width: 100%;
    height: 600px;
    background-color: white;
    display: flex;
    overflow: hidden;
}

.projects .maintext{
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
}

.projects .maintext .circle{
    width: 200px;
    height: 200px;
    background-color: #00EFBE;
    margin: auto;
    border-radius: 100%;
}

.projects .text{
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
}

.projects .text .textdiv{
    width: 80%;
    background-color: white;
    margin: auto;
    border-right: 5px solid #00EFBE;
    border-radius: 10px;
    padding-right: 10px;
    z-index: 2;
}

.projects .text .textdiv p{
    margin: auto;
    font-size: 20px;
    color: #00EFBE;
    text-align: center;
    overflow: hidden;
}

.contact{
    width: 100%;
    height: 600px;
    background-color: #00EFBE;
    display: flex;
    transform: skewY(-10deg);
    overflow: hidden;
}

.contact .maintext{
    width: 50%;
    height: 100%;
    background-color: #00EFBE;
    display: flex;
    align-items: center;
}

.contact .maintext .circle{
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    margin: auto;
    border-radius: 100%;
    transform: skewY(10deg);
}

.contact .text{
    width: 50%;
    height: 100%;
    background-color: #00EFBE;
    display: flex;
    align-items: center;
}

.contact .text .textdiv{
    width: 80%;
    background-color: #00EFBE;
    margin: auto;
    border-left: 5px solid white;
    border-radius: 10px;
    padding-left: 10px;
    z-index: 2;
}


.contact .text .textdiv p{
    margin: auto;
    font-size: 20px;
    transform: skewY(10deg);
    color: white;
    text-align: center;
    overflow: hidden;
}

.final{
    width: 100%;
    height: 400px;
    background-color: #ffffff;
    display: flex;
    overflow: hidden;
}

.middlelinewhite{
    width: 5px;
    height: 600px;
    position: absolute;
    left: 50%;
    background-color: white;
}

.middlelinewhite .lineright{
    width: 100px;
    height: 5px;
    position: absolute;
    top: 50%;
    background-color: white;
}

.middlelinewhite .lineleft{
    width: 120px;
    height: 5px;
    position: absolute;
    top: 50%;
    background-color: white;
    right: 0;
}

.middlelinewhite .middleball{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    background-color: white;
    border-radius: 100%;
    transform: translateX(-8px) translateY(-8px) skewY(10deg);
    z-index: 1;
}

.middlelinewhite .middleballoutline{
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    background-color: #00EFBE;
    border-radius: 100%;
    transform: translateX(-17px) translateY(-17px) skewY(10deg);;
    border: 5px solid white;
}

.middlelinegreen{
    width: 5px;
    height: 600px;
    position: absolute;
    left: 50%;
    background-color: #00EFBE;
}

.middlelinegreen .lineright{
    width: 100px;
    height: 5px;
    position: absolute;
    top: 50%;
    background-color: #00EFBE;
}

.middlelinegreen .lineleft{
    width: 120px;
    height: 5px;
    position: absolute;
    top: 50%;
    background-color: #00EFBE;
    right: 0;
}

.middlelinegreen .middleball{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    background-color: #00EFBE;
    border-radius: 100%;
    transform: translateX(-8px) translateY(-8px);
    z-index: 1;
}

.middlelinegreen .middleballoutline{
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    background-color: white;
    border-radius: 100%;
    transform: translateX(-17px) translateY(-17px);
    border: 5px solid #00EFBE;
}




.fibonacciWatchHolder{
    width: 100%;
    height: 500px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fibonacciWatch{
    background-color: #00EFBE;
    width: 800px;
    height: 500px;
    outline: 2px solid #00EFBE;
    z-index: 2;
}

.grid{
    width: 800px;
    height: 500px;
    display: grid;
    grid-template-areas: 
    'two two one five five five five five'
    'two two one2 five five five five five'
    'three three three five five five five five'
    'three three three five five five five five'
    'three three three five five five five five';
}

.one{
    background-color: rgba(255, 255, 255, 1.0);
    width: 100px - 2px;
    height: 100px - 2px;
    grid-area: one;
    border: 2px solid #00EFBE;
}

.one2{
    background-color: rgba(255, 255, 255, 1.0);
    width: 100px - 2px;
    height: 100px - 2px;
    grid-area: one2;
    border: 2px solid #00EFBE;
}

.two{
    background-color: rgba(255, 255, 255, 1.0);
    width: 200px - 2px;
    height: 200px - 2px;
    grid-area: two;
    border: 2px solid #00EFBE;
}

.three{
    background-color: rgba(255, 255, 255, 1.0);
    width: 300px - 2px;
    height: 300px - 2px;
    grid-area: three;
    border: 2px solid #00EFBE;
}

.five{
    background-color: rgba(255, 255, 255, 1.0);
    width: 500px - 2px;
    height: 500px - 2px;
    grid-area: five;
    border: 2px solid #00EFBE;
}